{%extends 'all-projects/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

    <!-- Looping through projects   -->
    
    <div class="row">
        {% for projects_item in awwards %}

        <div class="col" style="float: left; width: 30%;">
            <div class="card" style="width: 20rem; margin-bottom: 30px; margin-top: 15px;">
                <img src="{{projects_item.image.url}}" class="card-img-top img-responsive" alt="Image">
                <div class="card-body" style="text-align: center;">
                    <h4 class="card-title font-weight-bold">{{ projects_item.title }}</h4>
                    <p class="card-text" style="font-size: medium;">{{ projects_item.description }}</p>
                    <p class="card-text" style="font-style:italic; font-size: small;"> Posted by {{ projects_item.user_profile }} on </p> <span>
                    <p class="card-text" style="font-style:italic; font-size: small;">{{ projects_item.posted_on }}</p> </span>
                    <a href="{{ projects_item.live_link }}" class="btn btn-link" style="font-style:italic;"> Visit Site</a>
                </div>
            </div>
        </div>


    {% empty %}
    <div class="row">
        <h2 class="text-center">There are NO Project Items</h2>
    </div>
    {% endfor %}
    </div>    


</div>

{% endblock %}